<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="Hummingbird_Module6part1" frontName="mod61">
            <module name="Hummingbird_Module6" />
        </route>
    </router>
</config>